.topbar{
    display: flex;
    padding: 25px 0;
    flex-wrap: wrap;
}
.topbar >*{
    flex: auto;
}
ul.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}
ul.menu > li{
    flex: auto;
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
}
