.topbar{
    display: flex;
    padding: 25px 0;
    flex-wrap: wrap;
}
.topbar >*{
    flex: auto;
}
ul.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}
ul.menu > li{
    flex: auto;
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
}
.MobileBurger{
    display: none;
}
@media screen and (max-width:600px){
    .MobileBurger{
        display: block;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menuactif ul.menu{
        display: block;
    }
    ul.menu{
        display: none;
        background: #FFF;

    position: absolute;
    padding: 20px;
    right: 0;
    width: 100%;

    }
    .topbar{
        display: block;
        padding: 20px ;
    }
}