:root {
  --yellow: #F4CE14;
  --grey: #495E57;
  --secondary-color1: #EE9972;
  --secondary-color2:  #fbdabb;
  --highlight-color1: #edefee;
  --highlight-color2: #333333;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
}
h1{
  font-size:40px
}
h2{

}
h3{

}
p{
  font-size: 16px;
  line-height: 1.5em;
}
a{

}

.herosection{
  padding: 30px 0;
}

.roundedcorner{
  border-radius: 16px;
}
.bg-grey{
  background-color: var(--grey);
}
.bg-yellow{
  background-color: var(--yellow);
}


