:root {
  --yellow: #F4CE14;
  --grey: #495E57;
  --secondary-color1: #EE9972;
  --secondary-color2:  #fbdabb;
  --highlight-color1: #edefee;
  --highlight-color2: #333333;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
}
h1{
  font-size:50px;
}
h2{
  font-size: 35px;
}
h2.subtitle{
  font-weight: 300;
  margin: 0px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 22px;
  margin: 15px 0;
}
p{
  font-size: 16px;
  line-height: 1.5em;
}
/* COLORS */
.yellow{
  color: var(--yellow);
}
.orange{
  color: var(--secondary-color1);
}
.medium{
  font-weight: medium;
}
.bold{
  font-weight: bold;
}


/* LINKS */
a{
  color: var(--yellow);
}
nav a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
}
nav a:hover {
  color: var(--yellow);
}
.cta{
  margin: 30px 0;
}
.cta a, .cta input{
  background-color: var(--yellow);
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  border-radius: 16px;
  font-weight: bold;
  transition: 0.2s;
}
.cta a:hover{
  background-color: #000000;
  color: var(--yellow);
}
.cta-black{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

img{
  max-width: 100%;
}
img.icon{
  max-width: 20px;
  height: auto;
  aspect-ratio: auto!important;
}

.herosection{
  padding: 30px 0;
}
.herosection h1{
  margin-bottom:0;
  margin-top: 0;
  ;
}
.herosection > ul{
  list-style: none;
  padding: 0;
}
.herosection > ul li{
  margin-bottom: -100px;
}
.herosection > ul li:nth-child(2){
  text-align: right;
}
.herosection img{
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 16px;
  max-width: 300px;
}
.roundedcorner{
  border-radius: 16px;
}
.bg-grey{
  background-color: var(--grey);
  color: #FFFFFF;
}
.bg-yellow{
  background-color: var(--yellow);
}
.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.grid3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}
.grid4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.right{
  float: right;
  margin-top: 10px;
}
/* Specials */
.specials{
  margin-top: 80px;
}
.specials li{
  background-color: var(--highlight-color1);
  border-radius: 16px;
  transition: 0.2s;
}
.specials li:hover{
  transform: scale(1.03);
}
.specials img{
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.specials li p, .specials li h4{
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 600px){
  .grid2, .grid3{
    display: block;
  }
  .grid4, .grid5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .container{
    padding: 0 20px!important;
  }
  .herosection{
    margin: 30px 0;
  }
  .herosection > ul li {
    margin-bottom: 0px;
}
  .herosection > ul li:nth-child(2) {
    text-align: center;
    margin-bottom: -80px;
}

}
